.editor {
  display: grid;
  border-radius: var(--size-3);
}
.editor .ql-editor {
  min-block-size: 15lh;
  background-color: var(--surface-container-high);
  color: var(--on-surface);
  border: 1px solid transparent;
  border-radius: var(--size-3);
  padding: var(--size-2) var(--size-2);
}
.editor .ql-editor:hover {
  border-color: var(--outline-variant);
}
.editor .ql-editor:focus {
  outline: none;
  border-color: var(--outline);
}

.editor .ql-editor img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}
