.form {
  display: grid;
  gap: var(--size-3);
}

.field {
  display: grid;
  gap: var(--size-2);
}
.field > input,
.field > textarea {
  font-family: inherit;
  font-size: inherit;
}

.create-button {
  justify-self: flex-start;
  padding: var(--size-1) var(--size-2);
  border-radius: var(--size-1);
  border: none;
  background-color: var(--primary);
  color: var(--on-primary);
}

.is-hidden-field > input {
  appearance: none;
  margin: 0;
}
.is-hidden-field > label {
  border-radius: var(--size-1);
  padding: calc(var(--size-1) / 2) var(--size-1);
  border: 1px solid var(--secondary-container);
}

.is-hidden-field > input:checked ~ label {
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
}

.title-input {
  border-radius: var(--size-1);
  background-color: var(--surface-container-high);
  border: 1px solid transparent;
  resize: vertical;
  padding: var(--size-1);
}

.title-input:hover {
  border-color: var(--outline-variant);
}

.title-input:focus {
  outline: none;
  border-color: var(--outline);
}

.saving-text-wrapper {
  display: flex;
  align-items: center;
  gap: var(--size-1);
}

.spinner > svg > g {
  stroke: var(--on-primary);
}
