.ql-editor {
  display: grid;
  align-content: start;
}

.ql-editor img {
  justify-self: center;
}

.ql-editor hr {
  inline-size: 100%;
}

.ql-editor h1 {
  margin-block: 0.5rem;
}

.ql-editor h2 {
  margin-block: 0.25rem;
}
